/* .page{width:80vw;height:80vh;border:1px solid red} */
/*Determine Color of the pages*/


  /*Buttons*/
  .button, .glow-button{    
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .glow-button:hover {
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.7);
    transform: scale(1.05);
  }
  /*General*/
  img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Ensures proper spacing around the image */
    margin: 0 auto; /* Centers the image horizontally */
  }
  h1{font-size: 5vh;}
  h2{font-size: 4vh;}
  p{font-size: 3vh;}
body{
  background-color: #FFFFE0;
  margin:0;
  }
footer{
  background-color: #2c1818;
  margin:0;
  font-size: 1em;
  }
/* Style for the navigation menu */
.nav-container {
    display: flex;
    justify-content: center;
  }
nav ul,footer ul {
    list-style: none;
    display: flex;
    padding: 0;
}
nav li ,footer li{
    margin: 0 10px;
}
/* Style for the Links */
a:link,a:visited {
  color: #3d4f5c; /* Set the color for both states */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: #e74c3c; /* Change color on hover */
}
/*Page Stuff here*/
#pagecontainer {
  display:flex;
  width: 100%;
  margin: 0; /* Center the container horizontally */
  padding: 0; /* Add padding for spacing at the top and bottom */
  justify-content: center;
  height: 100%;
  
}
#page1{background:rgb(255, 87, 75)}
#page2{background:rgb(255, 136, 0)}
#page3{background:rgb(255, 230, 0)}
/* Style for each page */
.page {
  max-width: 80vw;
  flex-direction: column;
  text-align: center; /* Center align the text content */
  
}
/* Additional styles for images within pages */
.page img {
  max-width: 100%; /* Make sure images don't exceed their container */
  height: auto; /* Preserve the aspect ratio of images */
}
/*Manue*/
#menuList{
    display: block;
}
#hamIcon{display:block;}
#hamIcon.button {
    border: none;
    background-color: #FFFFE0;
  }
/* Fade in & out*/
.fade-in {
  opacity: 1;
  transition: opacity 2s;
  /* Apply a 2-second fade-in transition */
}

.fade-out {
  opacity: 0;
  transition: opacity 2s;
  /* Apply a 2-second fade-in transition */
}
/* To organise Content*/
.text { grid-area: text; }
.image{ grid-area: image; }

.Layout{
  display:grid;
  grid-template-areas:
  'image text';
  place-items: center;
}
.Layout2{
  display:grid;
  grid-template-areas:
  'text image';
  place-items: center;
}
/*HideText*/
.hidden {
  display: none;
}

@media screen and (max-width:800px){
  body{
    font-size: 2vh;
  }
nav ul li, .nav-container{display:block;} /*make a menu items vertical*/
#hamIcon{display: block;} /* unhide menu icon */
nav ul, ul li{display:none;} /*hide the menu item list*/
.Layout, .Layout2{
  display:grid;
  grid-template-areas:
  'image'
  'text';
  place-items: center;
}

}


